@font-face {
    font-family: 'Exo regular';
    src: url('fonts/exo-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

p{
	font-family: 'Exo regular', sans-serif;
}

body {
	background-color: #000;
}
h1, p {
	color: #fff;
}

.links-wrap {
	margin-top: 50px;
}

.links-wrap a {
	color: #FF5511;
}

.links-wrap a:hover {
	color: #fff;
	text-decoration: none;
}

.button {
	display: inline-block;
	border: 3px solid #FF5511;
	padding: 10px 25px;
}

.button:hover {
	background-color: #FF5511;
	color: #fff;
}